.insert-category {
  .icon-list-wrapper {
    padding: 90px 0 48px 0;
    .icon-list-item {
      .icon-title {
        padding: 10px 0 10px 10px;
        margin: 0;
        font-size: 18px;
      }
      .icon-list {
        padding: 0 15px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        
        .icon-item {
          padding: 4px;
          margin: 5px 4px;
          text-align: center;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          background: #fff;
          .icon {
            font-size: 36px;
            line-height: 70px;
            
          }
          &.active {
            background: #1890ff;
            .icon {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .save-btn-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 5;
    // padding: 0 10px;
    width: 100%;
    background: #fff;
  }
}
