.insert-category {
  .icon-list-wrapper {
    padding-top: 90px;
    .icon-list-item {
      .icon-title {
        padding: 10px 0 10px 10px;
        margin: 0;
        font-size: 18px;
      }
      .icon-list {
        padding: 0 15px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        
        .icon-item {
          padding: 4px;
          margin: 5px 4px;
          // margin-bottom: 10px;
          // margin-right: 5px;
          text-align: center;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          background: #fff;
          .icon {
            font-size: 36px;
            line-height: 70px;
            
          }
        }
      }
    }
  }
}
