.home {
  padding-top: 10px;
  .head-container {
    padding-top: 20px;
    .header-list {
      display: flex;
      .header-item {
        flex: 1;
        &.date-item {
          flex: 0 0 auto;
          margin-right: 30px;
          padding: 0 10px;
          
          .value {
            padding-right: 10px;
            border-right: 1px solid #000;
          }
        }
      }
    }
  }
}