.home {
  padding-top: 65px;
  .head-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    padding: 20px 0 10px;
    background: #f5f5f9;
    .header-list {
      display: flex;
      .header-item {
        flex: 1;
        &.date-item {
          flex: 0 0 auto;
          margin-right: 30px;
          padding: 0 10px;
          
          .value {
            padding-right: 10px;
            border-right: 1px solid #000;
          }
        }
      }
    }
  }

  .book-list-wrapper {
    .bill-item-header {
      display: flex;
      justify-content: center;
      .date {
        flex: 1;
      }
      .price-total {
        flex: 0 0 auto;
      }
    }
  }
}