{
  "extends": "eslint-config-egg/typescript",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "comma-dangle": 0,
    "space-before-function-paren": 0,
    "no-trailing-spaces": 0,
    "no-unused-vars": 0,
    "@typescript-eslint/no-unused-vars": ["warn"]
  }
}
